.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  z-index: 1000;
  background-color: #1a1a1a90;

  div {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: currentColor;
    animation: spinner 0.6s infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes spinner {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}